/*global*/
html
{
    font-family: 'Raleway', sans-serif;
    font-size: 15px; 
}
body
{
    margin: 0rem;
    padding: 0rem;
}
main
{
    margin:0rem 2rem 0rem 3rem;
}
section
{
    margin: 2rem auto 2rem 0rem;
}
h1
{
    font-size: 1.5rem;
    margin: 0rem 0rem 0.55rem 0rem;
}
h2
{
    font-size: 1.33rem;
}
footer
{
    line-height: 2rem;
}
 /* Header*/
header
{
    margin-bottom: 0.9;
}
 header ul 
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: center; 
    list-style: none;
}
#logo
{
    margin-right:auto;
}
.tab
{
    padding: 2.70rem 1rem 2rem 1rem;
}
.tab:hover
{
    border-top: #0065FC 0.2rem solid;
    color: #0065FC;
}
 #signup
{
    font-weight: bold;
    color: #0065FC;
}
 a
{
    text-decoration: none;
    color: black;
}
 a:visited
{
    font-weight: initial;
    color: initial;
}
/*Section 1 search form*/
.intro
{
    margin: 1.75rem auto 0.9rem auto;
}

/*form*/
.form
{
    display: flex;
    margin: 0rem auto 1.75rem auto;
}
#local, #locate, #search, #input, #altinput 
{
    height: 2.8rem;
    font-size: 1.2rem;
    
}
#locate
{ 
    height: 2.6rem;
    width: 2.5px;
    font-size: 1.33rem;
    padding: 0.66rem 1rem 0.66rem 1rem;
    border-radius: 1rem 0px 0px 1rem;
    background-color: #F2F2F2;
}
#local
{
    border:  0.1rem solid #F2F2F2;
    border-radius: 1rem 1rem 1rem 1rem;
}
.form .fas
{
    font-size: 1.1rem;
    color: black;
}
#search
{
    outline: none;
    border:none;
    margin-left: 0.66rem;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}
#input
{
    background-color: #0065FC;
    color: white;
    border: 0.33rem solid #0065FC;
    border-radius: 0px 1rem 1rem 0px;
}
#altinput
{
    display: none;
    background-color: #0065FC;
    color: white;
    border: 0.33rem solid #0065FC;
    border-radius: 0.8rem
}
::placeholder
{
    color: black;
    opacity: 1;
}

/*Filter*/
.filter-section
{
    height: 3.33rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 1.66rem;
}
.filter-title
{
    margin-right: 1rem;
}
.filter-section a
{
    text-decoration: none;
}
.filter-section a:hover
{
    color: #0065FC;
    
}
.icones
{
    font-size: 1rem; 
    padding: 0.70rem 0.70rem 0.70rem 0.75rem;
    margin: 0rem 0.66rem 00rem 0rem;
    border: 0.1rem #DEEBFF solid;
    border-radius: 1.33rem;
    background-color: #DEEBFF;
    color: #0065FC;   
}
  section div a h2
{
    display: inline;
}
  .filter-item
{
    margin: 0.2rem 0.5rem 0.2rem 0.5rem;
    padding-right: 0.60rem;
    border: 0.20rem solid #F2F2F2;
    border-left: none;
    border-radius: 2rem;
}
.filter-item h2:hover
{
    color: white;
    background-color: #0065FC;
    border: 0.6rem solid #0065FC;
    border-radius: 2rem;
}
.fas
{
    font-size: 0.75rem;
    color: #0065FC;
}
.filter-section .fas
{
    font-size: 1.3rem;
}
.miss
{
    color: #F2F2F2;
}
.fa-info
{
    margin: 0.7rem 2rem 2rem 0rem;
    padding: 0.5rem 0.7rem 0.5rem 0.7rem;
    color: #0065FC;
    font-size: 0.8rem;
    background-color: white;
    border: 0.14rem solid #F2F2F2;
    border-radius: 2rem;
    position: absolute;
}
.note
{
    position: relative;
    margin: 3rem 0rem 3rem 0rem;
    padding-left: 3rem;
    width: auto;
}
/*section 2 Rent*/
.grey-1, .grey-2, footer
{
    background-color: #F2F2F2;
}
.section-title
{
    margin-left: 1.2rem;
}
.location
{
    display: flex;
    flex-wrap: nowrap;
    line-height: 1.33rem;
}
.fa-chart-line
{
    float: right;
    font-size: 1.66rem;
}
.price
{
    font-weight: bold;
}
.locate-title
{
    padding-left: 1rem;
}
.fa-chart-line
{
    color: black;
}
.bot
{
    position: absolute;
    bottom: 0.33rem;
}
  .grey-1
{
    min-width: 24rem;
    margin: 0rem auto 0rem 0rem;
    padding: 2rem 1.33rem 2rem 1.33rem;
    border-radius: 1rem 1rem 1rem 1rem;
    max-width: 53.33rem
}
.grey-2
{
    max-width: 24rem;
    margin:auto;
    padding: 2rem 1.33rem 2rem 1.33rem;
    border-radius: 1rem 1rem 1rem 1rem;
}
.flex-container
{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 90rem;
}
.flex
{
    min-width: 15.33rem;
    max-height: 4rem;
    padding-top: 8rem;
    margin: 1.33rem 1rem 1rem 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    border: white solid ;
    border-width: 0.20rem 0.20rem 0.40rem 0.20rem;
    border-radius: 1.33rem 1.33rem 1.33rem 1.33rem;    
}

.text
{
    background: rgba(255, 255, 255, 1);
    border: white solid 0.33rem;
    border-radius: 00px 0px 1rem 1rem; 
}

.pop
{
    min-width: 12rem;
    height: 8.5rem;
    padding-left: 8rem;
    margin: 1rem 1rem 1rem 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    border: white solid 0.20rem;
    border-radius: 1.33rem 1.33rem 1.33rem 1.33rem;
    position: relative; 
}
.right
{
    max-width: 10.66rem;
    padding: 0.8rem 1rem 3.5rem 0.33rem;
    background: rgba(255, 255, 255, 1);
    border: white solid ;
    border-width: 0.20rem 0px 0.20rem 0.20rem;
    border-radius: 00px 1rem 1rem 0px;     
}
.flex-actities
{
    max-height: 35rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.small,.medium,.large
{
    width: 20.50rem;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem 1rem 1rem 1rem;
    position: relative;
    box-shadow: 0.1rem 0.1rem #F2F2F2;
    margin: 1rem;
}
.medium
{
    height: 15rem;
}
.small
{
    height: 11rem;
}
.large
{
    height: 29rem;
}

.white-box
{
    position: absolute;
    width: 20.50rem;
    bottom: 0.0rem;
    padding: 0.33rem 0.11rem 0.20rem 0.33rem;
    background: rgba(255,255,255, 1);
    border: solid white;
    border-width: 0.66rem 1.20rem 0.80rem 1.40rem;
    border-radius: 0rem 0rem 1rem 1rem;
}
/*assets location*/
.item-1
{
    background-image: url("images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}
.item-2
{
    background-image: url("images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg")
}
.item-3
{
    background-image: url("images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-position: 0rem -1rem;
}
.item-4
{
    background-image: url("images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: cover;
    background-position: 0rem -3rem;
}
.item-5
{
    background-image: url("images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg")
}
.item-6
{
    background-image: url("images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-size: cover;
    background-position: 0rem -7rem;
}
/*assets popular*/
.item-7
{
    background-image: url("images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-size: contain;
    background-position:  -2rem 0.1rem
}
.item-8
{
    background-image: url("images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-size: contain;
    background-position:  -2rem 0rem
}
.item-9
{
    background-image: url("images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-position: -5rem -15rem 
}
/*assets activities*/
.item-10
{
    background-image: url("images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-position: -12rem 0rem;
}
.item-11
{
    background-image: url("images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-position: 0rem -8rem;
}
.item-12
{
    background-image: url("images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-position: 0rem -1rem;
}
.item-13
{
    background-image: url("images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-position: -12rem 0rem;
}
.item-14
{
    background-image: url("images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-position: 0rem -1rem;
}
.item-15
{
    background-image: url("images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg")
}
/*footer*/
footer
{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0rem 0rem 0rem 0rem;
}
.box
{
    margin: 3rem auto 3rem 3rem;
}

/*Media Queries*/
@media (min-width:320px) and (max-width:767px)
/*global*/
{
html
{ 
    max-width:375px;
    font-size: 1rem;
    margin: 0rem auto 0rem auto;
    padding: 0;
}
header,body
{
    width: 375px;
}
main
{
    margin: 0rem;
}
h1
{
    font-size: 1.4rem;
    font-weight: bold;
}
h2
{
    font-size: 1rem;
}
/*header*/
header
{
    margin: 0.5rem 0rem 2rem 0rem;
}
header div nav ul
{
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    padding-left: 0rem;   
}
header div nav ul :nth-child(4),header div nav ul :nth-child(4):hover
{
    order: -1; 
    border: none;
    margin: 1rem 0rem 0.5rem 7.5rem;
    padding: 0rem;
}
header div nav ul :nth-child(1)
{
    order: -2
}
a:active
{
    color: #0065FC;
}
.tab:hover,.tab:active
{
    color: #0065FC;
    border: #0065FC solid ;
    border-width: 0rem 0rem 0.2rem 0rem;
}
.tab
{
    min-width: 9rem;
    height: 1.33rem;
    padding: 0rem 1.36em 0.5rem 1.36rem;
    border: solid #F2F2F2;
    border-width: 0rem 0rem 0.2rem 0rem;
}
#logo
{
    margin: 0rem 0rem 0.8rem 0rem;
    padding-right: 0.5rem;
}
/*form*/
.intro
{
margin: 0rem 0rem 0.5rem 1rem;
}
.form
{
    margin-bottom: 0.5rem;
}
.note
{
    margin: 2.5rem 0rem 1.6rem 0rem;
}
#altinput
{
    display: inline-block;
    margin: 0rem;
}
#input
{
    display: none;
}
.filter-title
{
    width: 24rem;
}
.filter-section
{
    height: auto;
    width: 22.6rem;
}
.flex-container
{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}
.fa-child
{
    padding: 0.8rem 0.8rem 0.8rem 1rem;
}
/*location*/
.location
{
    display: flex;
    flex-direction:column-reverse;

}
.grey-2
{
    padding: 2rem 0rem 2rem 0rem;
    border-radius: 0rem;
    margin: 0rem 0rem 2rem 0rem;
}
.grey-1
{
    padding: 0rem;
    background-color: white;
    margin: 0rem 0rem 2rem 0rem;
}
.text
{
    width: 19.5rem;
}
.flex
{
    width: 20rem;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.4rem #F2F2F2;
}
.item-1,.item-2,.item-3
{
    background-position: 0rem -2rem;
    background-size: cover;
}
.item-4
{
    background-position: 0rem -5rem;
}
.item-6
{
    background-position: 0rem -11rem;
}
.flex-actities
{
    max-height: none;
    display: flex;
    flex-direction: column;
}
.large,.medium
{
    height: 11rem;
    background-position: 0rem 0rem;
    background-size: cover;
}
.item-10
{
    background-position: -0rem -1.5rem;
}
.item-11
{
    background-position: 0rem -10rem;
}
.item-12,.item-13
{
    background-position: 0rem -1.5rem;
}
.item-15
{
    background-position: 0rem -2rem;
}
.box
{
    margin: 1.6rem 5.33rem 1.6rem 1.6rem;
}
}
@media (min-width:768px) and (max-width: 1023px)
{
html
{
    width: 51.2rem;
    margin: 0rem;
}
header,.intro
{
    margin-left: 1rem;
}
.filter-section
{
    height: auto;
}
.flex-container
{

    display: flex;
    flex-wrap: wrap;
}
.location
{
    display: flex;
    flex-direction: column-reverse;
}
.grey-2
{
    max-width: 51.1rem;
    height: auto;
    margin: 0rem 0rem 1.5rem 0rem;
}
.grey-2 .flex-container
{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.grey-1
{
    background-color: white;
    margin-top: 1.5rem;
}
.flex
{
    margin: 1.33rem auto 0.5rem auto;
}
.flex-actities
{
    max-height: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}
.large,.medium,.small
{
    margin: 1rem auto 1rem auto;
    background-size: cover;
}
.large,.small
{
    height: 15rem;
}
}